<!DOCTYPE html>
<html lang="pt-br" xmlns:th="thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="thymeleaf.org ">
    <head>
        <meta charset="UTF-8">
        <title>My CodeBlog Bruna Mello</title>

        <!-- CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <!-- Google Icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    </head>
    <body>
        <div class="alert alert-danger alert-dismissible" role="alert" th:if="${not #strings.isEmpty(mensagem)}">
            <span th:text="${mensagem}"></span>
        </div>



    </body>

</html>